@use '../../../styles/partials/' as p;

.accordionRow {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid p.$border-dark-grey; 
    padding-block: p.$size-m;

    &__header {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    
        &-btn {
            width: fit-content;
            height: fit-content;
            background: none;
            border: none;

            &-icon {
                width: p.px-to-rem(32);
                height: p.px-to-rem(40);
                cursor: pointer;
            }

            .rotated {
               transform: rotate(180deg); 
            }
        }



    &-text {
        display: flex;
    }
    } 
}

.hidden {
    display: none;
}