@use '../../../styles/partials/' as p;

.footer {
    &__container {
        display: flex;
        flex-direction: column;

        @include p.breakpoint(tablet) {
            @include p.container-layout;
            flex-direction: row;
            align-items: flex-start;
        }
    }

    &__contact {

        @include p.breakpoint(tablet) {
            display: flex;
            flex-direction: column;
            gap: p.$size-m;
            border-right: 1px solid p.$border-global-grey;
            padding-right: p.$size-l;
            padding-block: p.$size-xl;
            width: 25%;
        }

        &-link {
            display: flex;
            flex-direction: column;
            height: 100%;
            gap: p.$size-m;
        }

        &-phones {
            display: flex;
            flex-direction: column;
            height: 100%;
            gap: p.$size-xxs;
        }

        &-header {
            font: p.px-to-rem(16);
            text-transform: uppercase;
            font-weight: 700;

            &::before {
                content: ('—— ')
            }
        }

        &-img {
            display: flex;
            gap: p.$size-s;

            img {
                width: p.px-to-rem(26);
                height: p.px-to-rem(22);
            }
        }
    }

    &__link-container {
        display: flex;
        flex-direction: column;
        gap: p.$size-xxs;

        @include p.breakpoint(tablet) {
            border-right: 1px solid p.$border-global-grey;
            padding-inline: p.$size-l;
            padding-block: p.$size-xl;
            justify-content: flex-start;
            width: 25%;
        }
    }

    &__info-container {
        display: flex;
        flex-direction: column;
        gap: p.$size-m;

        @include p.breakpoint(tablet) {
            padding-inline: p.$size-l;
            padding-block: p.$size-xl;
        }

        &-campuses {
            display: flex;
            flex-direction: column;
            gap: p.$size-xxs;
        }

        &-links {
            display: flex;
            gap: p.$size-s;
        }
    }


    
}