@use '../../../styles/partials/' as p;

.statusTag {
    display: flex;
    flex-shrink: 0;
    border-radius: p.$size-xxs;
    padding: p.$size-xxs;
    height: fit-content;
    width: fit-content;

    &--available {
        background-color: rgba(0, 159, 61, 0.1);
        display: inline-block;
    }

    &--full {
        background-color: rgba(204, 0, 0, 0.1);
        display: inline-block;
    }

    &--inProgress {
        background-color: rgba(255, 166, 10, 0.1);
        display: inline-block;
    }

    &-text {
        text-transform: uppercase;
        @extend .labels-buttons;

        &--available {
            color: p.$success-color
        }

        &--full {
            color: p.$error-color
        }

        &--inProgress {
            color: p.$warning-color
        }
    }
}

