@use '../../styles/partials/' as p;

.crn-section {
    display: flex;
    flex-direction: column;
    gap: p.$size-m;
    width: 100%;
    padding: p.$size-s;
    background-color: p.$primaryColor--white;
    margin-inline: auto;

    @include p.breakpoint(tablet) {
        gap: p.$size-m;
    }


    &__header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: p.$size-s;

        @include p.breakpoint(tablet) {
            flex-direction: row;
            justify-content: space-between;
        }

        &-container {
            display: flex;
            flex-direction: column;
            gap: p.$size-xs;

            @include p.breakpoint(tablet) { 
                flex-direction: row;
            }
        }
    }

    &__crn-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: p.px-to-rem(2);
    }

    &__crn {
        display: flex;
        align-items: center;
        gap: p.$size-xs;
        

        &-header {
            font-size: p.$font-m;

            @include p.breakpoint(tablet) {
                font-size: p.$font-l;
            }
        }
    }

    &__caption {
        font-size: p.px-to-rem(14);
        display: flex;
        gap: p.px-to-rem(2);

        &-value {
            font-weight: bold;
        }
    }

    &__cost {
        display: flex;
        flex-direction: column;
        gap: p.px-to-rem(2);

        @include p.breakpoint(tablet) {
            align-items: flex-end;
        }
    }

    &__schedule {
        display: grid;
        grid-template-columns: 1fr;


        @include p.breakpoint(tablet) {
            grid-template-columns: 1fr auto;
            row-gap: p.$size-xs;
        }
    }

    &__status {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include p.breakpoint(tablet) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__status--available {
        display: flex;
        flex-direction: column;
        row-gap: p.$size-xs;

        @include p.breakpoint(tablet) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__status-tag {
        display: none;
        
        @include p.breakpoint(tablet) {
            display: block;
        }
    }

    &__status-tag--mobile {
        @include p.breakpoint(tablet) {
            display: none;
        }
    }
}

.offering-details {
    display: flex;
    flex-direction: column;
    gap: p.$size-m;

    &__container {
        display: flex;
        flex-direction: column;
        gap: p.$size-s;

        @include p.breakpoint(tablet) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__hide-btn-container {
        display: flex;
        justify-content: flex-end;
    }

    &__heading {
        color: p.$secondaryColor--fontGrey;
    }

    &__info {
        padding-top: p.$size-m;
        border-top: 1px solid p.$border-global-grey
    }

    &__subscribe {
        display: flex;
        flex-wrap: wrap;
        color: p.$secondaryColor--fontLightGrey;
        @extend .body-copy;
        column-gap: p.$size-xxs;
        
        span > p {
            display: inline-block
        }
    }
}

.hidden {
    display: none;
}